<div class="row">
  <div class="col-lg-6 text-center">
    <img src="./../../../assets/todo.png" height="550" width="450" style="margin-top: 30px;">
  </div>
  <div class="col-lg-6 text-center">
  <div class="btn-group mt-30 p-5">
    <input type="text" class="form-control" [(ngModel)]="name" required placeholder="Name">
    <input type="text"  class="form-control" [(ngModel)]="city" required placeholder="City">
    <button class="btn btn-info" *ngIf="!editMode" (click)="saveTodoList()">Add</button>
    <!-- <button class="btn btn-info" *ngIf="editMode" (click)="updateTodo(name)">Edit</button> -->
  </div>
  <div class="table-responsive">
    <table class="table table-hover mr-5">
      <thead>
        <tr>
          <th>No</th>
          <th>Name</th>
          <th>City</th>
          <th>TodayDate</th>
          <th>Action</th>
        </tr>
        <tr *ngFor="let item of todoList; index as i">
          <td>{{ i + 1 }}</td>
          <td>{{ item.name }}</td>
          <td>{{ item.city }}</td>
          <td>{{ item.date | date }}</td>
          <td>
            <!-- <button class="btn btn-warning btn-sm" (click)="editToDo(item.name)">Edit</button>&nbsp; -->
            <button class="btn btn-danger btn-sm" (click)="deleteTodo(item.id)">Delete</button></td>
        </tr>
      </thead>
    </table>
  </div>
  </div>
</div>
